@{
    Layout = "~/MasterPages/ClinicalTrailsMaster.cshtml";
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search Investigator Master</title>
</head>
<html>
<body>
    <div>
    </div>
</body>
</html>